* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primaryColor {
  background-color: #57f;
}
.secondryColor {
  background-color: #fff;
}
.blue {
  background-color: #0c00f6ff;
  opacity: 100%;
}
.fontWhite {
  color: #fff;
}
.fontFamily {
  font-family: "Segoe Script";
  font-weight: normal;
}
