.navContainer {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.icon {
  display: none;
  background-image: url("../../logo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.menu {
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  z-index: 2;
}
.banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}
.menuButton {
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  .navContainer {
    flex-direction: column;
    position: relative;
  }
  .banner {
    width: 100%;
  }
  .menu {
    padding: 10px 30px 30px 30px;
    width: 100%;
    display: none;
    position: relative;
    bottom: 10px;
  }
  .icon {
    display: block;
    width: 70px;
    height: 70px;
  }
  .unwrap {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menuButton {
    margin-left: 20px;
    padding: 15px;
  }
}
