.registerContainer {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.validationError {
  color: red;
}

@media only screen and (max-width: 500px) {
  .registerContainer {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.register {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
}
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
}

.registerInput {
  padding: 8px;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
}
